<!--
    Qina Liu, Joshua Kleopfar | Period 2
    SoftDev
    K20 -- Forking Repos + CSS
    11-25-2021
    time spent: 1 hour
-->

<!DOCTYPE html>

<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <title>login</title>
  </head>

  <body>
    <div class="centerFillFlex">
        <h3>Enter your username and password below.</h3>
        {% if error %}
        <p>Your credentials did not match our records</p>
        {% endif %}
        <form action="/login" method="post">
          <!-- Username field -->
          <input
            type="text"
            name="username"
            placeholder="Enter your username"
            class="textInput"
          />
          <!-- Password field -->
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            class="textInput"
          />
          <div class="centerFlex">
            <input
              type="submit"
              name="sub1"
              class="button"
            />
          </div>
        </form>
      </div>
      <p><a href="/register">New user?</a></p>
  </body>
</html>
