<!DOCTYPE html>

<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <style>
        p {
         color: #BD4C6C;   
        }
      </style>
    <title>Register</title>
  </head>

  <body>
    <div class="centerFillFlex">
      <h3>Enter your username and password below.</h3>
      <form action="/register" method="post">
        <!-- Username field -->
        <input
            type="text"
            name="username"
            placeholder="Enter your username"
            class="textInput"
          />
        <!-- Password field -->
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          class="textInput"
        />
        <!-- Confirm Password field -->
        <input
          type="password"
          name="confirm"
          placeholder="Confirm your password"
          class="textInput"
        />
        <div class="centerFlex">
          <input
            type="submit"
            name="sub1"
            class="button"
          />
        </div>
      </form>
      <br>
      <a href="/">Return to login page</a>
      <br><br>

      {% if error %}
      <p>{{error_message}}</p>
      {% endif %}
    </div>
  </body>
</html>
